# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
node_modules
dist
dist-ssr
*.local
CreateAdmin.js
intercom-formation-firebase-adminsdk-fbsvc-2d02a68747.json